*{
    margin: 0;
    padding: 0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100%;
}

header{
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #ddd;
    padding: 0 1rem;
    .icon{
        width: 50px;
        height: 50px;
        background-color: #999;
        border-radius: 50%;
    }
    .ham{
        width: 50px;
        height: 50px;
        background-color: #999;
    }
}
footer{
    width: 100%;
    height: 10rem;
    background-color: #999;
}
nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;
    
        &.router-link-exact-active {
            color: #42b983;
        }
    }
}