// sass 註解
/*css 註解*/
//base
@import "base/var";
@import "base/color";
@import "base/font";

// mixin
@import "mixin/all";

// plugin
// @import '../node_modules/bootstrap/scss/bootstrap';

//組件
@import "component/btn";
@import "component/grid";
@import "component/sidebar";
@import "component/form";
@import "component/card";

// layout
@import "layout/footer";
@import "layout/header";
@import "layout/title";
@import "layout/body";

// page
@import "page/index";
@import "page/about";
@import "page/product_page";
@import "page/Forum";
@import "page/Announcements";
@import "page/Announcement-details";
@import 'page/product_index';
@import 'page/user.scss';
@import 'page/cart.scss';
@import 'page/check_out.scss';
@import 'page/login.scss';
@import "page/product_index";
@import "page/Attractions.scss";
@import "page/custom-tickets.scss";
@import 'page/user-float.scss';
