$bodyBgColor : #ECECEC;
$color : #012840;
$linkColor : #fff;
$btnTextColor : #fff;

$bg : #333;
$colbg : #fdf1ad;

$bgColor : (
   primary : rgba(242, 156, 80, 1),
   secondary : rgba(1, 40, 64, 1),
   error : #BA0000,
   success : #76CA66 ,
   warning : #FBC756 ,
   disable : #9CA3AF,
);

$BrandColors : (
   primary : #F29C50,
   secondary1 : #012840,
   Secondary2 : #7AACBF,
   secondary3 : #F2DAD8,
   secondary4 : #BEA85C
);

$StateColors : (
   Info : #A0C3FF,
   Success : #76CA66,
   Warning : #FBC756,
   Error : #BA0000,
);

$GrayColors : (
   black : #000000,
   gray1 : #1F2937,
   gray2 : #012840,
   gray3 : #4B5563,
   gray4 : #6B7280,
   gray5 : #9CA3AF,
   gray6 : #D1D5DB,
   gray7 : #F3F4F6,
   white : #FFFFFF
);