$bodyBgColor : #ededed;
$color : #012840;
$btnTextColor : #fff;

$bg : #333;
$colbg : #fdf1ad;


$linkColor : #F29C50;
$hoverColor: #F29C50;


$BrandColors : (
  Primary : #F29C50,
  Secondary1 : #012840,
  Secondary2 : #7AACBF,
  Secondary3 : #F2DAD8,
  Secondary4 : #BEA85C
);

$StateColors : (
  Info : #A0C3FF,
  Success : #76CA66,
  Warning : #FBC756,
  Error : #BA0000,
);

$GrayColors : (
  Black : #000000,
  Gray1 : #1F2937,
  Gray2 : #012840,
  Gray3 : #4B5563,
  Gray4 : #6B7280,
  Gray5 : #9CA3AF,
  Gray6 : #D1D5DB,
  Gray7 : #F3F4F6,
  White : #FFFFFF
);