$bodyBgColor : #ECECEC;
$color : #012840;
$linkColor : #fff;
$btnTextColor : #fff;

$bg : #333;
$colbg : #fdf1ad;

$bgColor : (
   primary : rgba(242, 156, 80, 1),
   secondary : rgba(1, 40, 64, 1),
   error : #BA0000,
   success : #76CA66 ,
   warning : #FBC756
);