$bodyBgColor : #ECECEC;
$color : #333;
$linkColor : #fff;
$btnTextColor : #fff;

$bg : #333;
$colbg : #fdf1ad;

$bgColor : (
   primary : #F29C50,
   secondary : #012840,
   error : #BA0000,
   success : #76CA66 ,
   warning : #FBC756
);