// @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

$fontSize : 20px; //數值
$fontFamily : 'Kiwi Maru', serif; //字串

$h1 : 40px;
$h2 : 36px;
$h3 : 30px;
$h4 : 26px;

//標題文字大小
$title : (
  body : 16px,
  span : 18px,
  h1 : 45,
  h2 : 40,
  h3 : 36,
  h4 : 30,
  h5 : 24,
  '.box' : 40
);  // map 
