// @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

$fontSize : 20px; //數值
$fontFamily : 'ChiuKongGothic', sans-serif, serif; //字串

$h1 : 48px;
$h2 : 32px;
$h3 : 24px;
$h4 : 20px;
$body : 18px;
$label : 16px;
$btn-font : 18px;
$sm-font : 14px;
$caption : 13px;

.h1, .h2, .h3, .h4 {
  color: map-get($GrayColors, Secondary1)
}

.text {
  /* body/text-18-regular */
  font-size: $body!important;
  font-weight: 400!important;
  line-height: 34px; /* 188.889% */
  letter-spacing: -0.18px;
  align-self: stretch;
  &.bold {
    /* body/text-18-md */
    font-weight: 500!important;
  }
  &_14 {
    /* button/text-14-regular */
    font-size: $sm-font!important;
    line-height: 20px; /* 142.857% */
  }
}

.h1 {
  font-size: $h1;
  line-height: 56px;
}
.h2 {
  /* Header/<h2>-md */
  font-size: $h2; /* $h2 : 32px; */
  font-weight: 500;
  line-height: 36px; /* 112.5% */
}
.h3 {
  /* Header/<h3>-md */
  font-size: $h3; /* $h3 : 24px; */
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.48px;
}
.h4 {
  /* table/text-16-regular */
  font-size: $h4; /* $h4 : 20px; */
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
.label {
  /* label/text-16-light */
  font-size: $label; /* $label : 16px; */
  font-weight: 300;
  line-height: 20px; /* 125% */
  &.regular {
    /* label/text-16-regular */
    font-weight: 400;
  }
  &.bold {
    /* label/text-16-md */
    font-weight: 500;
  }
}
.caption {
  /* caption/regular */
  font-size: $caption;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  &.bold {
    /* caption/bold */
    font-weight: 500;
  }
  &.error {
    // 區域變數，控制顏色
    $useColor: map-get($StateColors, Error);
    color: $useColor!important;
  }
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}