// @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

$fontSize : 20px; //數值
$fontFamily : 'Kiwi Maru', 'Helvetica', sans-serif, serif; //字串

$h1 : 48px;
$h2 : 32px;
$h3 : 24px;
$h4 : 20px;
$label : 16px;
$caption : 13px;
$body : 18px;
$sm-font : 14px;
