//變數
$color : #333; //color 
$margin : 10px 20px; // list
//預設基礎
$space: 8px;

.box_default {
   @if $color {
      // true
      color: $color
   }

   @else {
      color: null
   }

   width: 100px;
   height: 100px;
}


$class : '.fgw';

// 變數轉型 
$file : 'images';


//小到大斷點變數 (表示大於斷點)
$mobile-width: 0;
$pad-width: 768px;
$pc-width: 1024px;

// layout
//如果是滿版100 / 固定寬 1200px
$layoutWidth :1200px ;


@for $i from 1 through 10 {
   .spacing#{$i} {
      margin-top: $i * 4px;
   }
}


@mixin space($num){
      margin-top: $num * 3px;
}





