//變數
$color : #333; //color 
$margin : 10px 20px; // list
// $padding : null; // null

.box_default {
   @if $color {
      // true
      color: $color
   }

   @else {
      color: null
   }

   width: 100px;
   height: 100px;
}


$class : '.fgw';

// 變數轉型 
$file : 'images';


//小到大斷點變數 (表示大於斷點)
$mobile-width: 0;
$pad-width: 768px;
$pc-width: 1024px;

// layout
//如果是滿版100 / 固定寬 1200px
$layoutWidth :1200px ;


@for $i from 1 through 10 {
   .spacing#{$i} {
      margin-top: $i * 4px;
   }
}


@mixin space($num){
      margin-top: $num * 3px;
}


.card {
   padding: 10px 8px;
   border: 1px solid #333;
   border-radius: 10px;
   width: 100%;
   .img {
      width: 100%;
      height: 300px;
      margin: 0 auto;
   } 
   h2 {
      @include space(2) 
   }
   .content{
      @include space(1)
   }

}






