@mixin rect($w, $h:$w) {
    width: $w;
    height: $h;
}

.box {
    @include rect(1000px, 200px);
    background-color: #fff;
}

.cardbox {
    @include rect(200px, 40px);
    background-color: #f20;
}



// layout 

// 
@mixin layout($w) {
    @if $w == 100 {
        width: 100%;
        @content;
    }
    @else {
        width: 100%;
        max-width: $w + px;
        margin: auto;
        @content;
    }
}

//rwd mixin //Sass自適應分塊(由小到大)

@mixin mobile {
    @media screen and (min-width: $mobile-width) {
        @content;
    }
}

@mixin pad {
    @media screen and (min-width: $pad-width) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: $pc-width) {
        @content;
    }
}

@mixin tv {
    @media screen and (min-width: $layoutWidth) {
        @content;
    }
}


// space 

@mixin push($num , $dir){
    @for $i from 1 through $num{
        .#{$dir}-#{$i} {
            position: relative;
            #{$dir}: $i + px;
        } 
    }
}


@mixin grid($num , $breakpoint:null){
    @for $i from 1 through $num {
        @if $breakpoint == null {
            .col-#{$i} {
            width: ($i / 12) * 100%;
            }
        }
        @else {
            .col-#{$breakpoint}-#{$i} {
                width: ($i / 12) * 100%;
            }
        }
    }
}



//標題文字
@mixin title($title){
    @each $k , $v in $title {
        #{$k} {
            font-size: $v + px;
        }
    }
}


 //顏色
@each $k , $v in $bgColor {
    .#{$k} {
        background-color: $v;
    }
}






// @include push(100 , top);























