// 全部按鈕都會顯示手指
button {
  cursor: pointer;
}

.btn {
    padding: 8px 20px;
    text-align: center;
    font-size: $fontSize;
    font-family: $fontFamily;
    max-width: 300px;
    cursor: pointer;
    // background-color: #e1e1e1;
    &.primary {
        background-color: map-get($BrandColors, Primary);
        transition: cubic-bezier(0.39, 0.575, 0.565, 1);
        &:hover {
          background-color: darken(map-get($BrandColors, Primary), 20);

        }
    }
    &.secondary {
        background-color: map-get($BrandColors, Secondary1);
        &:hover {
          background-color: darken(map-get($BrandColors, Secondary1), 20);
        }
    }
    &.error {
      background-color: map-get($StateColors, Error);
      color : $btnTextColor;
      &:hover {
        background-color: darken(map-get($StateColors, Error), 20);
      }
    }
    &.radius {
      border-radius: 10px;
    }
    &.round {
      border-radius: 30px;  
    }
}



