// 全部按鈕都會顯示手指
button {
  cursor: pointer;
  border:0;
}

.btn {
    padding: 8px 20px;
    text-align: center;
    font-size: $fontSize;
    font-family: $fontFamily;
    max-width: 300px;
    cursor: pointer;
    // background-color: #e1e1e1;
    &.primary {
        background-color: map-get($bgColor, primary);
        transition: cubic-bezier(0.39, 0.575, 0.565, 1);
        &:hover {
          background-color: darken(map-get($bgColor, primary), 20);

        }
    }
    &.secondary {
        background-color: map-get($bgColor, secondary);
        &:hover {
          background-color: darken(map-get($bgColor, secondary), 20);
        }
    }
    &.error {
      background-color: map-get($bgColor, error);
      color : #fff;
      &:hover {
        background-color: darken(map-get($bgColor, error), 20);
      }
    &.disable {
      background-color: map-get($GrayColors, disable);
      color: white;
    }
    }
    &.radius {
      border-radius: 10px;
    }
    &.round {
      border-radius: 30px;  
    }
}



