// 全部按鈕都會顯示手指
button {
  cursor: pointer;
}

@mixin sm-btn {
  /* button/text-14-md */
  font-size: $sm-font;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
  max-height: 48px;
}
@mixin nl-btn {
  /* label/text-16-md */
  font-size: $label;
  line-height: 20px; /* 125% */
  padding: $space * 2 $space * 3;
  max-height: 52px;
}
@mixin md-btn {
  /* body/text-18-md */
  font-size: $body;
  line-height: 34px; /* 188.889% */
  letter-spacing: -0.18px;
  max-height: 70px;
}

/*========橘色按鈕樣式========*/
@mixin default-btn {
  padding: $space * 1.5 $space *3.5;
  background-color: $btnColor;
  border-radius: 8px;
  box-shadow: 1px 1px rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .01);
  color: #fff;
  font-weight: 500;
  font-size: $btn-font;
  box-sizing: border-box
}
.default-btn {
  @include default-btn;
}
@include pad {
  .default-btn {
    @include default-btn;
    &:hover{
      background-color: $hoverColor;
    }
    &:active{
      background-color: $activeColor;
      box-shadow: none;
    }
  }
}
/*========================*/

.btn {
  border: 0;
  padding: 1em 1.5em;
  text-align: center;
  user-select: none;
  box-shadow: 1px 1px rgba(0, 0, 0, .3);
  @include sm-btn;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space; 
  @include pad {
    @include nl-btn;
  }
  &.small {
    @include sm-btn;
  }
  &.big {
    @include md-btn;
  }
  &.primary {
    background-color: map-get($BrandColors, Primary);
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    color: $btnTextColor;
    &:hover, &:active {
      background-color: $activeColor;
      box-shadow: none;
    }
  }
  &.secondary {
    background-color: map-get($BrandColors, Secondary1);
    color: $btnTextColor;
    &:hover, &:active {
      background-color: darken(map-get($BrandColors, Secondary1), 20);
      box-shadow: none;
    }
  }
  &.other {
    background-color: map-get($GrayColors, Gray4);
    color: $btnTextColor;
    &:hover {
      background-color: darken(map-get($GrayColors, Gray4), 20);
    }
  }
  &.error {
    background-color: map-get($StateColors, Error);
    color: $btnTextColor;
    &:hover {
      background-color: darken(map-get($StateColors, Error), 20);
    }
  }
  &.disable {
    background-color: map-get($GrayColors, Gray5);
    color: $btnTextColor;
  }
  &.radius {
    border-radius: 8px;
  }
  &.round {
    border-radius: 30px;
  }
}
