.input-wrap {
  input,select {
    margin-bottom: 10px;
    border: 1px solid#a0a0a0;
    border-radius: 8px;
    min-height: 44px;
    /* label/text-16-light */
    font-size: 16px;
    font-weight: 300;
    line-height: 125%;
    padding: 8px 16px;
    box-sizing: border-box;
  }
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include pad {
    flex: 1;
    &.long {
      grid-column: span 2;
    }
  }
  .btn {
    background-color: map-get($BrandColors, Primary);
    position: absolute;
    top: 0%;
    right: 0px;
    height: 44px;

    color: #fff;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
  }
  &.login{ 
    position: relative;
    justify-content: center;
    height: fit-content;
    & input{
      &:focus + label,
      &:valid + label {
        font-size: $caption;
        line-height: 20px;
        transform: translateY(-175%) translateX(8px);
        color: map-get($BrandColors, Secondary2);
        background-color: #fff;
      }
    }
    & label {
      position: absolute;
      top: 50%;
      left: 0px;
      padding-left: 8px;
      padding-right: 8px;
      transform: translateY(-75%);
      color: #000;
      font-size: 16px;
      pointer-events: none;
      transition: all 0.5s;
    }
  }
}