* {
    margin: 0;
    padding: 0;
}

//預設 -> 手機
@include grid(12);
@include row-cols(12);

//平板
@include pad(){
    @include grid(12, md);
    @include row-cols(12, md);
}

//桌機
@include pc(){
    @include grid(12, lg);
    @include row-cols(12, lg);
}


@include tv(){
    @include grid(12, xl);
    @include row-cols(12, xl);
}
/* --------------------------------------- */
html{
    --gs-gap: 5px;
}
main {
    &.product_page , &.product {
        padding-left: $space * 5;
        padding-right: $space * 5;
    }
}
.container {
    max-width: $layoutWidth;
    margin: auto;
//     width: 100%;
    padding-left: var(--gs-gap);
    padding-right: var(--gs-gap);
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: calc(var(--gs-gap) * -1);
    margin-right: calc(var(--gs-gap) * -1);
}
[class*='col-'],
.col{
    box-sizing: border-box; 
    padding-left: var(--gs-gap); 
    padding-right: var(--gs-gap);
    margin-bottom: 10px;
}

