* {
    margin: 0;
    padding: 0;
    outline: 1px solid black;
}
.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    [class*='col-'],
   .col{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    }
}



//桌機
@include grid(12);

//平板
@include t(){
    @include grid(12, xl)
}


//手機
@include mobile(){
    @include grid(12, md)
}


/* --------------------------------------- */
