@mixin h4 () {
  font-size: $h4;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.sidebar {
  padding-top: 60px;
  box-sizing: border-box;
  position: fixed;
  width: 15rem;
  height: 100vh;
  overflow-y: auto;
  right: 0;
  transform: translateX(15rem);
  top: 0;
  z-index: 1;
  background-color: #fff;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: map-get($BrandColors, Primary);
  @include pad {
    display: none;
    transform: translateX(15rem);
  }
  &.active {
    padding-top: 60px;
    transform: translateX(0);
  }


  &_content {
    text-align: left;
  }

  .link-list {
    width: 100%;
    a {
      color: map-get($BrandColors, Secondary1);
      text-decoration: none;
      padding: 0 1rem;
      min-height: 44px;
      display: flex;
      transition: all 0.5s;
      @include h4; 

      &:hover,
      &:active {
        background-color: map-get($BrandColors, Secondary1);;
      }

      &:hover {
        color: #fff;
      }
    }

    li {
      list-style: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
    }
  }
}