body {
  padding: null; // null 屬性被刪出
  color: $color;
  font-family: $fontFamily;
  position: relative;
  h1 {
      font-size: 50px;
    @include t(){
        font-size: 36px;
        color: #f20;
      }
    @include mobile(){
        font-size: 60px;
        color: #19cef6

    } 
  }
}

.wrapper {
//桌機
@include layout(1200);
// 平板
@include t(){
  @include layout(800);
}

//手機                                           

@include mobile(){                                                                         
  @include layout    (100);                                                                               
}       
 
          
// @if $layoutWidth == 100 {
//   width: 100%;
// }@else {
//   width: 100%;
//   max-width: $layoutWidth;
//   margin: auto;
// }
}

.h100 {
height: 100px;
}

.left {
 background-color: #ff9f9f;
}

.right {

background-color: #bcfffe;
}