body {
  padding: null; // null 屬性被刪出
  color: $color;
  font-family: $fontFamily;
  background-color: $bodyBgColor !important;
  position: relative;
  overflow-x: hidden;
  //一般內文
  & p:not(.type) {
    font-size: $body;
    line-height: 34px;
    color: map-get($GrayColors, Gray4 )!important;
  }
  & .introCard p {
    color: rgba(map-get($GrayColors, White ),.8)!important;
  }
  & .bold {
    font-weight: 500;
    font-weight: bold;
  }
  a {text-decoration: none;}
}

// .wrapper {
//桌機
// @include layout(1200);
// 平板
// @include t(){
//   @include layout(800);
// }

//手機                                           

// @include mobile(){                                                                         
//   @include layout    (100);                                                                               
// }       
          
// @if $layoutWidth == 100 {
//   width: 100%;
// }@else {
//   width: 100%;
//   max-width: $layoutWidth;
//   margin: auto;
// }
// }