body {
  padding: null; // null 屬性被刪出
  color: $color!important;
  font-family: $fontFamily!important;
  background-color: $bodyBgColor !important;
  position: relative;
  overflow-x: hidden;
  font-size: $body!important;
  // 主要內容高度
  & main.Announcements {
    min-height: calc(100vh - (60px + 100px));
  }
  //一般內文
  & p:not(.type):not(.subtext > p){
    font-weight: 300!important;
    // color: map-get($GrayColors, Gray4 )!important;
  }
  & .introCard p {
    color: rgba(map-get($GrayColors, White ),.8)!important;
  }
  & .bold {
    font-weight: 500!important;
    font-weight: bold!important;
  }
  a {text-decoration: none;}
}

// .wrapper {
//桌機
// @include layout(1200);
// 平板
// @include t(){
//   @include layout(800);
// }

//手機                                           

// @include mobile(){                                                                         
//   @include layout    (100);                                                                               
// }       
          
// @if $layoutWidth == 100 {
//   width: 100%;
// }@else {
//   width: 100%;
//   max-width: $layoutWidth;
//   margin: auto;
// }
// }