main:has(.cartPage){
    max-width: 1200px;
    margin: auto;
}
//浮窗購物車專用
.cartFloat{
    width: 400px;
    position: fixed;
    top: 60px;
    right: 60px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .01);
    border-radius: 8px;
    z-index: 10;
    background-color: #ffffffe6 !important;
    padding-bottom: 0 !important;
    // max-height: 600px;
    // overflow-y: overlay;
    // &::-webkit-scrollbar {
    //     width: 8px;
    // }
    // &::-webkit-scrollbar-thumb {
    //     border-radius: 4px;
    //     background-color: rgba(0, 0, 0, 0.4);
    //     border: 1px solid slategrey;
    // }
    .closeMark{
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 1;
        font-size: 32px;
        cursor: pointer;
    }
    .cartList{
        padding: 8px;
        max-height: 360px;
        overflow-y: overlay;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.4);
            border: 1px solid slategrey;
        }
    }
    .checkOut {
        padding: 8px;
    }
}

.hrTop{
    border-top: 1px solid $color;
    border-bottom: none;
}
.hrBot{
    border-top: none;
    border-bottom: 1px dashed $color;
}
.back_button {
    // margin-bottom: 12px;
    // box-shadow: 0px -1px 0px 0px #f29c50 inset;
    display: inline-block;
    font-size: 16px;
    padding: 4px 0;
    a {
      text-decoration: none;
      color: $linkColor;
    }
  }
  .item-price{
    font-weight: 600;
    &::before {
        content: " $ ";
    }
}
  .cartPage{
    background-color: $bodyBgColor;
    padding-bottom: 30px;
    h2{
        font-size: $h2;
        padding: 16px;
    }
    .card-block{
        padding: 8px;
        border-bottom: 1px solid #00000020;
    }
    .cartList{
        min-height: 400px;
        .cart-card{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item-drop{
                color: map-get($GrayColors, Gray5);
                background-color: unset;
                border: none;
            }
            .cart-cardPic-group{
                display: flex;
                align-items: center;
                gap: 15px;
                .item-pic{
                    width: 60px;
                    height: 60px;
                    border-radius: 3px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .item-info{
                .item-name{
                    font-size: 16px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .btn-group{
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    // border: 1px solid #777;
                    background-color: $linkColor;
                    color: $btnTextColor;
                    // border: none;
                    // box-shadow: 1px 1px 3px #00000080;
                    border: 1px solid rgba(0, 0, 0, .01);
                    box-shadow: 1px 1px rgba(0, 0, 0, .3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height:20px;
                    border-radius: 5px;
                    i{
                        font-size: 16px;
                    }
                    &:active{
                        background-color: $activeColor;
                        box-shadow: none;
                    }
                }
                .item-qty{
                    width: 60px;
                    text-align: center;
                    #qty{
                        font-size: 24px;
                        font-weight: 600;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    .totalPrice{
        margin-bottom: 30px;
        text-align: right;
        span{
            margin-left: 20px;
        }
    }
    .checkOut{
        display: flex;
        justify-content: center;
        gap: 10px;
        button{
            border: none;
            padding: 12px 20px;
            border-radius: 3px;
            background-color: $linkColor;
            color: #fff;
            font-size: 18px;
        }
        .btn-checkOut{
            &:hover{
                background-color: $hoverColor;
            }
            &:active{
                background-color: $activeColor;
            }
        }
        .btn-back{
            background-color: map-get($GrayColors , Gray5 );
            font-size: 16px;
        }
    }
  }
