* {
  // border: 1px solid gold;
}

#mainFooter {
  border: 1px solid gold;

  background-color: #012840;

 

  .left-section-wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {

      img {
        width: 100px;
      }

    }


    .logo-lg {
      display: block;
    }

    .logo-sm {
      display: none;
    }


  }



  

  .left-section-share-wrap{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px ;
    
    
  }


  


  .scroll {

    width: 300px;
    padding: 0.8rem 2rem;
    margin: 20px 0px;
    background: map-get($BrandColors, Secondary2);
    color: $bodyBgColor;
    font: 24px "Margarine", sans-serif;
    border: 3px solid map-get($BrandColors, Secondary2);
    ;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  }


  .right-section-wrap {

    img {

      width: 100px;
      height: 95px;
      border-radius: 50%;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }


    & img {

      &:hover {
        transform: scale(1.07);
        filter: brightness(110%);
      }

    }

    .footer-table-head,
    .footer-table {
      visibility: hidden;
    }


  }

  .mainFooter-under-wrap p {

    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.399);
    color: map-get($GrayColors, Gray5);
    line-height: 20px;
    font-size: 12px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: map-get($BrandColors, Secondary4);

    }
  }
}



@include pc {

  #mainFooter {

    .mainFooter-top-wrap {

      display: flex;
      justify-content: center;
      align-items: flex-start;
    }


    .left-section-wrap {

      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0px 40px 0px 0px;


      img.logo-sm {

        width: 220px;
        padding: 30px 0px;


        img.logo-sm::before {

          width: 280px;

        }

      }

      .logo-lg {
        display: none;
      }

      .logo-sm {
        display: block;

      }





    }

  }




}