header {
   max-width: 1920px;
   width: 100%;
   height: 60px;
   border-bottom: 1px solid rgb(213, 213, 213);
   background-color: white;
   position: sticky;
   top: 0;
   z-index: 1;
   nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 1200px;
      width: 100%;
      margin: auto;
      height: 60px;
      .logo {
            img {
            vertical-align: middle;
            }
         }
         .nav_item {
            margin: auto;
            a {
               color: #7aacbf;
               font-family: Noto Sans Malayalam UI;
               font-size: 16px;
               font-weight: 400;
               line-height: 110%;
               text-decoration: none;
               padding: 0 15px;
               transition: .3 all ease;
               &:hover {
                  color: map-get($bgColor, primary);
               }
            }
         }
      .chrt, .login {
         color: #7aacbf;
         font-family: Noto Sans Malayalam UI;
         font-size: 16px;
         font-weight: 400;
         line-height: 110%;
         text-decoration: none;
         &:hover{
            color: map-get($bgColor, primary);
         }
         
      }
      .chrt {
         padding-right: 24px;
      }
   }
}