@mixin h4 () {
   font-size: $h4;
   line-height: 24px;
   letter-spacing: -0.16px;
}

header {
   width: 100%;
   height: 60px;
   border-bottom: 1px solid rgb(213, 213, 213);
   background-color: white;
   position: sticky;
   top: 0;
   z-index: 99;
   nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      margin: auto;
      height: 60px;
      .logo {
            img {
            vertical-align: middle;
            }
         }
         .nav_item {
            margin: auto;
            display: none;
            a {
               color: #7aacbf;
               // font-size: 16px;
               // font-weight: 400;
               // line-height: 110%;
               @include h4; 
               text-decoration: none;
               padding: 0 15px;
               transition: .3 all ease;
               &:hover {
                  color: map-get($BrandColors, Primary);
               }
            }
            @include pad {
               display: inline-flex;
               align-items: center;
            }
         }
      .chrt, .login {
         color: #7aacbf;
         // font-size: 16px;
         // font-weight: 400;
         // line-height: 110%;
         @include h4; 
         text-decoration: none;
         display: none;
         &:hover{
            color: map-get($BrandColors, Primary);
         }
         @include pad {
            display: inline-flex;
            align-items: center;
         }
      }
      .chrt {
         margin-right: 24px;
         cursor: pointer;
      }
      .ham{
         // width: 50px;
         // height: 50px;
         width: 40px;
         height: 40px;
         position: relative;
         z-index: 9;
         cursor: pointer;
         &:hover , &:active {
            span {
               transition: background-color .5s;
               // background-color: map-get($BrandColors, Primary);
            }
         }
         @include pad {
            display: none;
         }
         &.active {
            // &:hover , &:active {
            //    span {
            //       background-color: map-get($GrayColors, White);
            //    }
            // }
            span {
               transition: background-color .5s;
               background-color: #012840;
               &:nth-child(1) {
                  top: 18px;
                  rotate: 45deg;
                  transition: top .5s, rotate .5s .5s;
               }
               &:nth-child(2) {
                  transition: opacity .1s .5s;
                  opacity: 0;
               }
               &:nth-child(3) {
                  top: 18px;
                  rotate: -45deg;
                  transition: top .5s, rotate .5s .5s;
               }
            }
         }
         span {
            width: 84%;
            height: 4px;
            background-color: map-get($BrandColors, Secondary2);
            border-radius: 2px;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            transition: .3s;
            rotate: 0deg;
            &:nth-child(1) {
               top: 8px;
               transition: top .5s .5s,rotate .5s;
            }
            &:nth-child(2) {
               top: 18px;
            }
            &:nth-child(3) {
               top: 28px;
               transition: top .5s .5s,rotate .5s;
            }
         }
      }
   }
}