header {
   width: 100%;
   height: 60px;
   border-bottom: 1px solid rgb(213, 213, 213);
   background-color: white;
   position: sticky;
   top: 0;
   z-index: 99;
   nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      margin: auto;
      height: 60px;
      .logo {
            img {
            vertical-align: middle;
            }
         }
         .nav_item {
            margin: auto;
            opacity: 0;
            pointer-events: none;
            a {
               color: #7aacbf; 
               text-decoration: none;
               padding: 0 15px;
               transition: .3 all ease;
               &:hover {
                  color: map-get($BrandColors, Primary);
               }
            }
            @include pad {
               opacity: 1;
               pointer-events: auto;
            }
         }
      .chrt, .login {
         text-decoration: none;
         color: #7aacbf;
         cursor: pointer;
         &:hover{
            color: map-get($BrandColors, Primary);
         }
      }
      .login {
         justify-self: start;
         margin-left: 0px;
      }
      .chrt {
         margin-right: 24px;
         @include pad {
            display: inline-flex;
            gap: 5px;
            align-items: center;
         }
      }
      .sidebar:has(.chrt){
         .chrt, .login {
            margin-right: 0;
            width: 100%;
         }
      }
      .ham{
         width: 40px;
         height: 40px;
         position: relative;
         z-index: 9;
         cursor: pointer;
         &:hover , &:active {
            span {
               transition: background-color .5s;
            }
         }
         @include pad {
            display: none;
         }
         &.active {
            span {
               transition: background-color .5s;
               background-color: #012840;
               &:nth-child(1) {
                  top: 18px;
                  rotate: 45deg;
                  transition: top .5s, rotate .5s .5s;
               }
               &:nth-child(2) {
                  transition: opacity .1s .5s;
                  opacity: 0;
               }
               &:nth-child(3) {
                  top: 18px;
                  rotate: -45deg;
                  transition: top .5s, rotate .5s .5s;
               }
            }
         }
         span {
            width: 84%;
            height: 4px;
            background-color: map-get($BrandColors, Secondary2);
            border-radius: 2px;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            transition: .3s;
            rotate: 0deg;
            &:nth-child(1) {
               top: 8px;
               transition: top .5s .5s,rotate .5s;
            }
            &:nth-child(2) {
               top: 18px;
            }
            &:nth-child(3) {
               top: 28px;
               transition: top .5s .5s,rotate .5s;
            }
         }
      }
   }
}