@mixin text-18-md(){
  /* body/text-18-md */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 188.889% */
  letter-spacing: -0.18px;
}

//浮窗會員調整樣式
.userPage.cartFloat{
  position: fixed;
  top: 60px;
  right: 50px;
  width: 250px;
  z-index: 10;
  h2{
      font-size: $h2;
      padding: 16px;
  }
  .card-block{
      padding: 8px;
      border-bottom: 1px solid #00000020;
  }
  .link-list {
    width: 100%;
    a {
      color: map-get($BrandColors, Secondary1);
      @include text-18-md;
      padding: 0 16px;
      min-height: 44px;
      display: flex;
      transition: all 0.5s;
      &.active{
        background-color: rgba(#B3CEE2,30%);
        font-weight: bold;
      }
      &:hover,&:active{
        background-color: rgba(#B3CEE2,30%);
      }
      &:hover {
        color: $linkColor;
      }
    }
    li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 20px;
    }
  }
}
