// 公告內頁

main.Announcement-details {
  //   width: 100%;
  margin: 0 20px;
  margin-bottom: 20px;

  .back_button {
    margin-top: 20px;
    margin-bottom: 8px;
    box-shadow: 0px -1px 0px 0px #f29c50 inset;
    display: inline-block;
    font-size: 16px;
    // padding: 4px 0;
    a {
      text-decoration: none;
      color: #f29c50;
    }
  }

  .article_card {
    .type {
      //   color: #7aacbf;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 4px;

      span {
        color: #9ca3af;
      }
    }
    .important {
      color: #7aacbf;
    }

    .normal {
      color: #f29c50;
    }

    h3 {
      color: #000;
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
    }
    .pic {
      margin: 8px 0;

      img {
        width: 100%;
        vertical-align: top;
        height: 100%;
        object-fit: cover;
        // display: block;
      }
    }

    p {
      color: #000;
      /* 表格 & 列表 內文字高 */
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
}

@include pad {
  main.Announcement-details {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 40px;

    .back_button {
      font-size: 20px;
    }
    .article_card {
      .type {
        font-size: 16px;
        padding-bottom: 8px;
        margin-bottom: 0;
      }
      h3 {
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;
      }

      .pic {
        margin: 20px 0;
      }

      p {
        /* 表格 & 列表 內文字高 */
        font-size: 24px;
        line-height: 34px; /* 150% */
      }
    }
  }
}
