main.Attractions {
  .Attr_wrap{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .map {
    width: 1920px;
    position: relative;
    top: 0;
    left:50%;
    transform: translate(-50%,0);
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .train_line {
      position: absolute;
      top: 321px;
      left: 612px;
      opacity: 0;

    }

    .train {
      position: absolute;
      top: 668px;
      left: 1165px;

      svg {
        width: 97.1428571429px;
        height: 40px;
      }
    }

    .lake {
      width: 189px;
      height: 161px;
      position: absolute;
      top: 220px;
      left: 535px;

      img {
        width: 100%;
      }
    }

    .mapleleaf {
      width: 155px;
      height: 202px;
      position: absolute;
      top: 220px;
      left: 1246px;

      img {
        width: 100%;
      }
    }

    .mountain {
      width: 172px;
      height: 152px;
      position: absolute;
      top: 593px;
      left: 481px;

      img {
        width: 100%;
      }
    }

    .pasture {
      width: 152px;
      height: 130px;
      position: absolute;
      top: 488px;
      left: 1318px;

      img {
        width: 100%;
      }
    }

    .remains {
      width: 183px;
      height: 164px;
      position: absolute;
      top: 750px;
      left: 742px;

      img {
        width: 100%;
      }
    }

    .restaurant {
      width: 182px;
      height: 161px;
      position: absolute;
      top: 0px;
      left: 1070px;

      img {
        width: 100%;
      }
    }

  }





  .right_button {
    border: none;
    background-color: transparent;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
    img{
      width: 100%;
    }
  }

 

  .left_button {
    border: none;
    background-color: transparent;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 5%;
    transform: translate(0,-50%);
    img{
      width: 100%;
    }
  }
}

