main.Attractions {
  background-color: #a9ecff;
  position: relative;
  z-index: 30;
  overflow: hidden;

  .middle {
    background-color: aquamarine;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }

  // .attr_name_list{
  //   position: fixed;
  //   right:50px;
  //   top:150px;
  //   // outline: red 100px solid;
  //   z-index: 150;
  // }
  .surch_wrap {
    position: fixed;
    right: 50px;
    top: 100px;
    z-index: 100;

    .surch_attr_block {
      // z-index: 200;
      // position: fixed;
      // top: 100px;
      // right: 30px;
      // width: 280px;
      // height: 110.41px;
      // border-radius: 8px;
      // display: flex;
      // overflow: hidden;
      z-index: 100;
      display: flex;
      position: relative;
      overflow: hidden;
      border-radius: 8px;

      // right:50px;
      // top:100px;
      // background-color: blue;
      input {
        outline: blue 30px solid;
        padding: 12px;
        border: 2px solid var(--brand-colors-primary, #f29c50);
        flex-grow: 1;
        border-radius: 8px;

        &:focus {
          outline: 4px solid var(--brand-colors-primary, #f29c50);
        }
      }

      button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0 12px;
        background-color: var(--brand-colors-primary, #f29c50);
        border: none;
        font-size: 16px;
        color: #fff;
      }
    }


    .attr_name_list {
      padding: 16px;
      font-size: 16px;
    }
  }




  // .square {
  //   position: absolute;
  //   width: 100px;
  //   height: 100px;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   z-index: 30;
  //   // background-color: blue;
  // }
  .drop_down_menu {
    width: fit-content;
    height: fit-content;
    // outline: red solid 10px;
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 50;
    outline: #f29c50 solid 2px;
    // overflow: hidden;
    font-size: 20px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    height: 40px;
    transition: .3s;
    cursor: pointer;

    .attr_triangle {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;

      span {
        padding: 0 8px 0 0;
        text-align: center;
        display: block;
        border-radius: 8px;
        // outline: #f29c50 solid 2px;
      }

      i {
        transform: rotate(180deg);
      }
    }


    ul {
      // position: absolute;
      // top: 100;
      // left: 0;
      list-style: none;

      // border-radius: 8px;
      // outline: #f29c50 solid 2px;
      li {
        display: block;
        padding: 8px;

        &:hover {
          background-color: #f29c50;
          color: #fff;
        }
      }
    }
  }












  .Attr_wrap {
    // position: relative;
    height: 1080px;
    width: 100vw;
    overflow: hidden;
    // outline: blue 20px solid;
    perspective: 1000px;

    .map {
      width: 1920px;
      position: relative;
      height: 1080px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      transition: 2.5s;
      // outline: red 30px solid;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .train_line {
        position: absolute;
        top: 321px;
        left: 612px;
        opacity: 0;

      }

      .train {
        position: absolute;
        top: 668px;
        left: 1165px;

        svg {
          width: 97.1428571429px;
          height: 40px;
        }
      }

      .same {
        position: absolute;
        cursor: pointer;
        animation: move 2s infinite;
      }

      .lake {
        width: 189px;
        height: 161px;
        top: 220px;
        left: 535px;

        img {
          width: 100%;
        }
      }

      .mapleleaf {
        width: 155px;
        height: 202px;
        top: 220px;
        left: 1246px;


        img {
          width: 100%;
        }
      }

      .mountain {
        width: 172px;
        height: 152px;
        top: 593px;
        left: 481px;

        img {
          width: 100%;
        }
      }

      .pasture {
        width: 152px;
        height: 130px;
        top: 488px;
        left: 1318px;

        img {
          width: 100%;
        }
      }

      .remains {
        width: 183px;
        height: 164px;
        top: 750px;
        left: 742px;

        img {
          width: 100%;
        }
      }

      .restaurant {
        width: 182px;
        height: 161px;
        top: 0px;
        left: 1070px;

        img {
          width: 100%;
        }
      }

      .toggle_close {
        pointer-events: none;
      }

    }





    .right_button {
      border: none;
      background-color: transparent;
      position: absolute;
      width: 70px;
      height: 70px;
      top: 50%;
      right: 5%;
      transform: translate(0, -50%);

      // cursor: pointer;
      img {
        width: 100%;
      }
    }



    .left_button {
      border: none;
      background-color: transparent;
      position: absolute;
      width: 70px;
      height: 70px;
      top: 50%;
      left: 5%;
      transform: translate(0, -50%);

      // cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
}


@keyframes move {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }
}


@media screen and (max-width:768px) {
  main.Attractions .Attr_wrap .right_button {
    width: 50px;
    height: 50px;
  }

  main.Attractions .Attr_wrap .left_button {
    width: 50px;
    height: 50px;
  }
}


.toggle_select {
  height: 320px !important;
}

.toggle_select_triangle {
  transform: rotate(0deg) !important;
}