main:has(.checkPage){
    max-width: 1200px;
    margin: auto;
    min-height: 860px;
}
hr{
    margin-bottom: 10px;
}
.checkPage{
    h2{
        color: map-get($BrandColors, Secondary2);
        font-size: $h2;
    }
    h4{
        font-size: $h4;
        // margin-bottom: 10px;
    }
    .wrap{
        form{
            padding: 10px 0;
            border-bottom: 1px dashed map-get($GrayColors, Gray5);
        }
        .selectInfo{
            .recipient{
                padding: 10px 0;
                border-bottom: 1px dashed map-get($GrayColors, Gray5);
                margin-bottom: 10px;
                .recipientInfo{
                    display: flex;
                    gap: 20px;
                    .recipientName{
                        font-weight: 600;
                    }
                }
                .address{
                    display: flex;
                    gap: 10px;
                }
            }
        }
        .detailsInfo{
            margin-bottom: 10px;
            .orderList{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                margin: 10px 0;
                i {
                    transition: all .08s ease;
                }
            }
            .orderDetails{
                // overflow: auto;
                // height: 100px;
                // width: 300px;
                margin: 2px 0;
                // border: 1px solid map-get($GrayColors, Gray5);
                border-top: 1px solid map-get($GrayColors, Gray5);
                border-bottom: 1px solid map-get($GrayColors, Gray5);
                // background-color: #fff;
                .orderItem{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    // border: 1px solid #ccc;
                    // background-color: #fff;
                    // box-shadow: 1px 1px 3px #ccc;
                    border-bottom: 1px solid #ccc;
                    .orderPic{
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        border: 2px solid #ccc;
                        overflow: hidden;
                        margin-right: 10px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .orderInfo{
                        display: flex;
                        gap: 10px;
                        padding-right: 5px;
                    }
                    .orderPrice{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .checkOut{
        .btn-checkOut{
            background-color: $linkColor;
            color: #fff;
            padding: 10px 24px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            border: none;
        }
    }
}


//斷點: min-width:768px
@include pad {
    .checkPage{
        .wrap{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dashed $color;
            margin-bottom: 30px;
            .selectInfo{
                width: 40%;
                form{
                    border: none;
                    &:nth-child(2){
                        border-bottom: 1px dashed map-get($GrayColors, Gray5);
                    }
                }
            }
            .detailsInfo{
                display: flex;
                flex-direction: column;
                width: 40%;
                .orderList{
                    margin: 0 0 10px 0;
                }
                .orderDetails{
                    min-height: 300px;
                }
                .totalPrice{
                    margin-top: auto;
                    text-align: right;
                }
            }
        }
        .checkOut{
            text-align: right;
            .btn-checkOut{
                &:hover{
                    background-color: $hoverColor;
                }
                &:active{
                    background-color: $activeColor;
                }
            }
        }
    }
}