$colorWhite: #eee;
$colorGray: rgba(black, 0.3);
$colorBlack: rgba(black, 0.8);

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin poA($L: auto, $T: auto) {
  position: absolute;
  left: $L;
  top: $T;
  transform: translate(-50%, -50%);
}

@mixin xyzdeg($Xdeg: 0, $Ydeg: 0, $Zdeg: 0) {
  transform: rotateX(#{$Xdeg}deg) rotateY(#{$Ydeg}deg) rotateZ(#{$Zdeg}deg);
}

$times: infinite;
$ani-bg: ani-namecard;

// Mixin 使用
@mixin ani-bg {
  @keyframes #{$ani-bg} {
    @content;
  }
}

@include ani-bg {
  from {
    @include xyzdeg(0,0,25);
  }
  to {
    @include xyzdeg(360,360,360);
  }
}

.custom-tickets {
  .perspective {
    /*值越小，內層物件就會像衝出螢幕一樣，表示觀看距離近*/
    perspective: 200px;
  }
  .row:not(:has(.footer)) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .t-Ani {
    transition: all 1s;
  }
  &.title {
    background-color: #fff;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .des {
    padding: 30px;
  }
  &.ticket {
    background-color: #fff;
    padding: 40px;
    .setting {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .make {
      padding: 40px;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      [alt="logo"] {
        pointer-events: none;
        width: 200px;
        @include poA(calc(100% - 100px),70%);
        @include pc {
          width: 300px;
        }
      }
    }
    .img-space {
      padding: 5px;
      border-radius: 10px;
      width: 100%;
      height: 100px;
      background-color: #D9D9D9;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      img, .cus {
        cursor: pointer;
        > * {
          @include size(70px,auto);
          padding: 10px;
          border-radius: 50%;
          transition: .5s;
        }
        &:active > * , &:hover > *{
          color: #fff;
          background-color: map-get($BrandColors, Primary);
        }
      }
    }
    .ticket-bg {
      padding: $space * 2 $space * 2;
      width: 100%;
      margin: 40px auto;
      background-color: map-get($BrandColors, Primary);
      .h3 {
        color: rgba(0, 0, 0, 0.5);
        user-select: none;
      }
      #selected_icons{
        @include poA(0, 0);
        transform-origin: 45px 45px;
        animation: #{$ani-bg} 4s 1s ease #{$times} both;
        &:hover, &:active {
          animation-play-state: paused; //停止動畫
        }
      }
    }
    .post-box {
      overflow: hidden;
      @include size(620px, auto);
      aspect-ratio: 620 / 400;
      border-radius: 10px;
      background-color: #fff;
      z-index: 2;
      cursor: pointer;
      position: relative;
    }
    
    .block {
      max-width: 440px;
      max-height: 400px;
      overflow-y: auto;
      scrollbar-gutter: stable;
      border-radius: 5px;
      position: sticky;
      &:has(svg){
        margin-left: 20px;
      }
      #block-img{
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      img {
        width: 100px;
        border: 1px solid #000;
      }
    }
    .bottom-btn > *{
      display: flex;
      flex-direction: column;
      margin-bottom: 80px;
      span {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px; /* 188.889% */
        letter-spacing: -0.18px;
        color: map-get($StateColors, Error)
      }
    }
  }
}