// 論壇

main.Forum {
  height: 100%;
  padding: 20px;

  .button_and_search {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .button_list {
      display: flex;
      gap: 20px;

      button {
        flex-grow: 1;
        padding: 10px 24px;
        border-radius: 8px;
        border: 2px solid #f29c50;

        font-size: 16px;
        font-weight: 500;
        color: #f29c50;
      }

      .selected_button {
        background-color: #f29c50;
        color: #fff;
      }

      .hot_button {
        transition: all 0.3s ease;
        &:hover {
          background-color: #f29c50;
          color: #fff;
        }
      }
    }

    .search_bar {
      display: flex;
      position: relative;
      overflow: hidden;
      border-radius: 8px;

      input {
        margin-bottom: 0;
        padding: 12px;
        border: 2px solid #f29c50;
        flex-grow: 1;

        // 外框線 沒效果但移除預設樣式了
        &:focus {
          outline: 4px solid #f29c50;
        }
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        padding: 0 12px;
        background-color: #f29c50;
        border: none;
        font-size: 16px;
        color: #fff;
      }
    }

    .new_button_pad {
      display: none;
    }
  }

  // 文章列表
  .post_list {
    margin: 20px 0;
    border-radius: 4px;
    border: 0.5px solid #ccc;
    background: #fff;

    .post_content {
      padding: 12px 16px;
      display: flex;
      align-items: center;

      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          vertical-align: top;
          height: 100%;
          object-fit: cover;
        }
      }

      .name_and_data {
        flex-grow: 1;
        margin-left: 12px;
        .name {
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
        }

        .data {
          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
          color: #9ca3af;
        }
      }
    }

    .post_pic {
      margin-bottom: 12px;
      img {
        width: 100%;
        vertical-align: top;
        height: 100%;
        object-fit: cover;
      }
    }

    .post_title {
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      margin: 0 16px;
      margin-bottom: 8px;
    }

    .post_txt {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      margin: 0 16px;
      padding-bottom: 12px;
      // box-shadow: 0px -1px 0px 0px #d1d5db inset;
    }

    .button_list {
      margin: 0 16px;
      padding: 12px 0;
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 1px 0px 0px #d1d5db inset;

      button {
        display: inline-flex;
        align-items: center;
        border: none;
        background: #fff;
        // txt
        color: #012840;

        span {
          font-size: 18px;
          font-weight: 500;
          margin-left: 8px;
        }
      }

      // .b_like {}

      // .b_message {}

      .b_share {
        position: relative;

        .share_list {
          display: flex;
          gap: 12px;
          padding: 12px;
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.2);
          border-radius: 8px;
          border: 1px solid #9ca3af8f;

          position: absolute;
          bottom: 115%;
          right: 0;
        }
      }
    }
  }

  .no_posts {
    margin: 24px;
    text-align: center;
  }

  // 新增文章手機版按鈕
  .new_button_phone {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #f29c50;
    background-color: #fff;
    box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.2);
    font-size: 24px;
    font-weight: 500;
    color: #f29c50;

    transition: all 0.3s ease;
    &:hover {
      background-color: #f29c50;
      color: #fff;
    }
  }

  // 新增文章視窗
  .post_form {
    position: fixed;
    inset: 0;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 5;

    .post_form_top {
      display: flex;
      height: 60px;
      border-bottom: 1px solid #9ca3af;
      background: #7aacbf;
      align-items: center;
      padding: 0 20px;
      .post_form_back {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        font-size: 24px;
        border: none;
        background-color: transparent;
        margin: 0 15px;
      }

      h3 {
        margin: auto;
        font-size: 24px;
      }

      .post_form_submit {
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #012840;
        background: rgba(255, 255, 255, 0.6);

        font-size: 14px;
        font-weight: 500;
      }
    }

    .post_form_content {
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        border: 1px solid #a0a0a0;
        border-radius: 8px;
        padding: 8px 16px;
        margin-bottom: 0;
      }

      .error {
        background-color: transparent;
        font-size: 14px;
        margin-top: -4px;
        margin-left: 16px;
        color: #ba0000;
      }

      // .post_form_title {}

      textarea {
        padding: 8px 16px;
        border-radius: 8px;
        height: 56px;
      }

      // .post_form_pic { }

      .pic_preview {
        width: 100%;
        img {
          width: 100%;
          vertical-align: top;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  //文章詳細視窗
  .post_modal {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: scroll;
    padding: 20px;

    .post_top {
      display: flex;
      align-items: center;

      .b_close {
        border: none;
        background-color: #fff;
        margin-right: 12px;
        font-size: 24px;
      }

      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          vertical-align: top;
          height: 100%;
          object-fit: cover;
        }
      }

      .name_and_data {
        flex-grow: 1;
        margin-left: 12px;
        .name {
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
        }

        .data {
          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
          color: #9ca3af;
        }
      }

      .post_more_block {
        position: relative;
        .post_more {
          border: none;
          background-color: #fff;
          font-size: 24px;
        }

        .popup_content {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 100%;
          right: 0;
          min-width: 160px;
          padding: 12px 0;
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.2);
          border-radius: 8px;
          border: 1px solid #9ca3af8f;
          z-index: 1;

          button {
            border: none;
            background-color: transparent;
            margin-bottom: 0;
            // margin: 4px 0;
            padding: 8px 0;
            font-size: 16px;

            &:hover {
              background-color: #9ca3af8f;
            }
          }
        }
      }
    }

    .post_pic {
      margin: 12px 0;
      img {
        width: 100%;
        vertical-align: top;
        height: 100%;
        object-fit: cover;
      }
    }

    .post_title {
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      margin: 0 16px;
      margin-bottom: 8px;
    }

    .post_txt {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      margin: 0 16px;
      padding-bottom: 12px;
      box-shadow: 0px -1px 0px 0px var(--gray-6, #d1d5db) inset;
    }

    .button_list {
      padding: 12px 0;
      margin: 0 16px;
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      box-shadow: 0px -1px 0px 0px #d1d5db inset;

      button {
        display: inline-flex;
        align-items: center;
        border: none;
        background: #fff;
        // txt
        color: #012840;

        span {
          font-size: 18px;
          font-weight: 500;
          margin-left: 8px;
        }
      }

      .b_share {
        position: relative;

        .share_list {
          display: flex;
          gap: 12px;
          padding: 12px;
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.2);
          border-radius: 8px;
          border: 1px solid #9ca3af8f;

          position: absolute;
          bottom: 115%;
          left: 0;
        }
      }
    }

    .talk_bar {
      display: flex;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      margin: 12px 16px;

      input {
        margin-bottom: 0;
        padding: 12px;
        border: 2px solid #f29c50;
        flex-grow: 1;

        // 外框線 沒效果但移除預設樣式了
        &:focus {
          outline: 4px solid #f29c50;
        }
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        padding: 0 12px;
        background-color: #f29c50;
        border: none;
        font-size: 16px;
        color: #fff;
      }
    }

    .message_list {
      margin: 0 16px;

      .message_list_row {
        display: flex;
        gap: 12px;
        box-shadow: 0px -1px 0px 0px #dddfe4 inset;
        padding-top: 8px;
        padding-bottom: 12px;

        .message_avatar_name {
          display: flex;
          width: 88px;
          gap: 8px;
          flex-shrink: 0;

          .message_avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              vertical-align: top;
            }
          }

          .message_name {
            font-size: 16px;
            font-weight: 400;
            line-height: 40px;
          }
        }

        .message_txt {
          color: #555;
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          margin-top: 8px;
        }
      }
    }
  }

  // 刪除文章視窗
  .modal-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 24px;
    border: 1px solid #9ca3af;
    z-index: 2;
    border-radius: 8px;
    box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.2);

    .modal_title {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .modal_button_list {
      display: flex;
      gap: 20px;
      button {
        padding: 8px 0;
        border-radius: 8px;
        border: 2px solid #f29c50;

        font-size: 16px;
        font-weight: 500;
        color: #f29c50;
        flex-grow: 1;
        background-color: transparent;
      }

      .b_sure {
        color: #9ca3af;
        border: 2px solid #9ca3af;
      }
    }
  }
}

@include pad {
  main.Forum {
    // height: 100%;
    padding: 20px 40px;
    max-width: 1200px;
    margin: auto;

    .button_and_search {
      // display: flex;
      flex-direction: row;
      gap: 24px;

      // .button_list {
      //   // display: flex;
      //   // gap: 20px;

      //   button {
      //     flex-grow: 1;
      //     padding: 10px 24px;
      //     border-radius: 8px;
      //     border: 2px solid #f29c50;

      //     font-size: 16px;
      //     font-weight: 500;
      //     color: #f29c50;
      //   }

      //   .selected_button {
      //     background-color: #f29c50;
      //     color: #fff;
      //   }

      //   .hot_button {
      //     transition: all 0.3s ease;
      //     &:hover {
      //       background-color: #f29c50;
      //       color: #fff;
      //     }
      //   }
      // }

      .search_bar {
        // display: flex;
        // position: relative;
        // overflow: hidden;
        // border-radius: 8px;
        flex-grow: 1;

        // input {
        //   margin-bottom: 0;
        //   padding: 12px;
        //   border: 2px solid #f29c50;
        //   flex-grow: 1;

        //   // 外框線 沒效果但移除預設樣式了
        //   &:focus {
        //     outline: 4px solid #f29c50;
        //   }
        // }
        // button {
        //   position: absolute;
        //   right: 0;
        //   top: 0;
        //   bottom: 0;

        //   padding: 0 12px;
        //   background-color: #f29c50;
        //   border: none;
        //   font-size: 16px;
        //   color: #fff;
        // }
      }

      .new_button_pad {
        display: block;
        // flex-grow: 1;
        padding: 10px 24px;
        border-radius: 8px;
        border: 2px solid #f29c50;

        font-size: 16px;
        font-weight: 500;
        color: #f29c50;

        transition: all 0.3s ease;
        &:hover {
          background-color: #f29c50;
          color: #fff;
        }
      }
    }

    // 文章列表
    .post_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: 20px 0;

      .post_list {
        margin: 0;
        // border-radius: 4px;
        // border: 0.5px solid #ccc;
        // background: #fff;
        display: flex;
        flex-direction: column;

        .post_content {
          padding: 20px;
          // display: flex;
          // align-items: center;

          // .avatar {
          //   width: 48px;
          //   height: 48px;
          //   border-radius: 50%;
          //   overflow: hidden;
          //   img {
          //     width: 100%;
          //     vertical-align: top;
          //     height: 100%;
          //     object-fit: cover;
          //   }
          // }

          .name_and_data {
            // flex-grow: 1;
            // margin-left: 12px;
            .name {
              font-size: 20px;
              // font-weight: 500;
              // line-height: 20px;
            }

            .data {
              font-size: 16px;
              // font-weight: 400;
              // line-height: 20px;
              // color: var(--gray-5, #9ca3af);
            }
          }
        }

        .post_pic {
          margin-bottom: 20px;
          height: 320px;
          // img {
          //   width: 100%;
          //   vertical-align: top;
          //   height: 100%;
          //   object-fit: cover;
          // }
        }

        .post_title {
          font-size: 28px;
          // font-weight: 400;
          // line-height: 28px;
          margin: 0 20px;
          margin-bottom: 12px;
        }

        .post_txt {
          // margin-bottom: 12px;
          font-size: 24px;
          // font-weight: 400;
          line-height: 30px;
          margin: 0 20px;
          padding-bottom: 12px;
          margin-bottom: 12px;
        }

        // .button_list {
        //   margin: 12px 16px;
        //   display: flex;
        //   justify-content: space-between;

        //   button {
        //     display: inline-flex;
        //     align-items: center;
        //     border: none;
        //     background: #fff;
        //     // txt
        //     color: #012840;

        //     span {
        //       font-size: 18px;
        //       font-weight: 500;
        //       margin-left: 8px;
        //     }
        //   }

        //   // .b_like {}

        //   // .b_message {}

        //   .b_share {
        //     position: relative;

        //     .share_list {
        //       display: flex;
        //       gap: 12px;
        //       padding: 12px;
        //       background-color: rgba(255, 255, 255, 0.8);
        //       box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.2);
        //       border-radius: 8px;
        //       border: 1px solid #9ca3af8f;

        //       position: absolute;
        //       bottom: 115%;
        //       right: 0;
        //     }
        //   }
        // }
        .button_list {
          // justify-self: flex-end;
          margin-top: auto;
        }
      }
    }

    // 新增文章手機版按鈕
    .new_button_phone {
      display: none;
    }

    // 新增文章視窗
    .post_form {
      // position: fixed;
      // inset: 0;
      // background-color: #fff;
      // overflow-y: scroll;
      // z-index: 5;

      .post_form_top {
        // display: flex;
        // height: 60px;
        // border-bottom: 1px solid #9ca3af;
        // background: #7aacbf;
        // align-items: center;
        padding: 0 40px;
        .post_form_back {
          // width: 32px;
          // height: 32px;
          // flex-shrink: 0;
          font-size: 32px;
          // border: none;
          // background-color: transparent;
          margin: 0;
          margin-right: 50px;
        }

        h3 {
          // margin: auto;
          font-size: 28px;
        }

        .post_form_submit {
          padding: 8px 24px;
          // border-radius: 7px;
          // border: 1px solid #012840;
          // background: rgba(255, 255, 255, 0.6);

          font-size: 20px;
          // font-weight: 500;
        }
      }

      .post_form_content {
        padding: 40px;
        // display: flex;
        // flex-direction: column;
        gap: 16px;

        input {
          // border: 1px solid #a0a0a0;
          // border-radius: 8px;
          padding: 16px 24px;
          // margin-bottom: 0;
          font-size: 20px;
        }

        .error {
          // background-color: transparent;
          font-size: 18px;
          margin-top: -12px;
          margin-left: 24px;
          // color: #ba0000;
        }

        // .post_form_title {}

        textarea {
          padding: 16px 24px;
          // border-radius: 8px;
          // height: 56px;
          font-size: 20px;
        }

        // .post_form_pic { }

        // .pic_preview {
        //   width: 100%;
        //   img {
        //     width: 100%;
        //     vertical-align: top;
        //     height: 100%;
        //     object-fit: cover;
        //   }
        // }
      }
    }

    //文章詳細視窗
    .post_modal {
      // position: fixed;
      // top: 60px;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // background-color: #fff;
      // overflow-y: scroll;
      padding: 20px 40px;

      .post_top {
        // display: flex;
        // align-items: center;

        .b_close {
          // border: none;
          // background-color: #fff;
          margin-right: 20px;
          font-size: 32px;
        }

        .avatar {
          width: 60px;
          height: 60px;
          // border-radius: 50%;
          // overflow: hidden;
          // img {
          //   width: 100%;
          //   vertical-align: top;
          //   height: 100%;
          //   object-fit: cover;
          // }
        }

        .name_and_data {
          // flex-grow: 1;
          // margin-left: 12px;
          .name {
            font-size: 24px;
            // font-weight: 500;
            line-height: 28px;
          }

          .data {
            font-size: 16px;
            // font-weight: 400;
            line-height: 24px;
            // color: var(--gray-5, #9ca3af);
          }
        }

        .post_more_block {
          // position: relative;
          .post_more {
            // border: none;
            // background-color: #fff;
            font-size: 40px;
          }

          .popup_content {
            // position: absolute;
            // display: flex;
            // flex-direction: column;
            // top: 100%;
            // right: 0;
            // min-width: 160px;
            padding: 20px 0;
            // background-color: rgba(255, 255, 255, 0.8);
            // box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.2);
            // border-radius: 8px;
            // border: 1px solid #9ca3af8f;
            // z-index: 1;

            button {
              // border: none;
              // background-color: transparent;
              // margin-bottom: 0;
              // margin: 0;
              padding: 12px 0;
              font-size: 20px;

              // &:hover {
              //   background-color: #9ca3af8f;
              // }
            }
          }
        }
      }

      .post_pic {
        margin: 20px 0;
        height: 60%;
        // img {
        //   width: 100%;
        //   vertical-align: top;
        //   height: 100%;
        //   object-fit: cover;
        // }
      }

      .post_title {
        font-size: 28px;
        font-weight: 500;
        // line-height: 28px;
        // margin: 0 16px;
        margin-bottom: 16px;
      }

      .post_txt {
        // margin-bottom: 0;
        font-size: 24px;
        // font-weight: 400;
        line-height: 30px;
        // margin: 0 16px;
        padding-bottom: 20px;
        // box-shadow: 0px -1px 0px 0px var(--gray-6, #d1d5db) inset;
      }

      // .button_list {
      // padding: 12px 0;
      // margin: 0 16px;
      // display: flex;
      // justify-content: flex-start;
      // gap: 20px;
      // box-shadow: 0px -1px 0px 0px var(--gray-6, #d1d5db) inset;

      // button {
      //   display: inline-flex;
      //   align-items: center;
      //   border: none;
      //   background: var(--white, #fff);
      //   // txt
      //   color: var(--secondary-1, #012840);

      //   span {
      //     font-size: 18px;
      //     font-weight: 500;
      //     margin-left: 8px;
      //   }
      // }

      // .b_share {
      //   position: relative;

      //   // .share_list {
      //   //   display: flex;
      //   //   gap: 12px;
      //   //   padding: 12px;
      //   //   background-color: rgba(255, 255, 255, 0.8);
      //   //   box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.2);
      //   //   border-radius: 8px;
      //   //   border: 1px solid var(--gray-colors-gray-5, #9ca3af8f);

      //   //   position: absolute;
      //   //   bottom: 115%;
      //   //   left: 0;
      //   // }
      // }
      // }

      .talk_bar {
        // display: flex;
        // position: relative;
        // overflow: hidden;
        // border-radius: 8px;
        // margin: 12px 16px;

        input {
          // margin-bottom: 0;
          padding: 16px;
          font-size: 20px;
          // border: 2px solid var(--brand-colors-primary, #f29c50);
          // flex-grow: 1;

          // 外框線 沒效果但移除預設樣式了
          // &:focus {
          //   outline: 4px solid var(--brand-colors-primary, #f29c50);
          // }
        }
        button {
          // position: absolute;
          // right: 0;
          // top: 0;
          // bottom: 0;

          padding: 0 24px;
          // background-color: var(--brand-colors-primary, #f29c50);
          // border: none;
          font-size: 20px;
          // color: #fff;
        }
      }

      .message_list {
        margin: 0 16px;

        .message_list_row {
          // display: flex;
          // gap: 12px;
          // box-shadow: 0px -1px 0px 0px #dddfe4 inset;
          padding-top: 12px;
          padding-bottom: 16px;

          .message_avatar_name {
            // display: flex;
            width: 136px;
            gap: 12px;
            // flex-shrink: 0;

            .message_avatar {
              width: 60px;
              height: 60px;
              // border-radius: 50%;
              // overflow: hidden;

              // img {
              //   width: 100%;
              //   vertical-align: top;
              // }
            }

            .message_name {
              font-size: 20px;
              // font-weight: 400;
              line-height: 60px;
            }
          }

          .message_txt {
            // color: var(--gray-5, #9ca3af);
            font-size: 20px;
            // font-weight: 400;
            line-height: 28px;
            // margin-top: 8px;
          }
        }
      }
    }

    // 刪除文章視窗
    // .modal-overlay {
    //   position: fixed;
    //   z-index: 1;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   overflow: auto;
    //   background-color: rgb(0, 0, 0);
    //   background-color: rgba(0, 0, 0, 0.5);
    // }

    .modal {
      // position: fixed;
      // width: 50%;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // background-color: #fff;
      padding: 40px;
      // border: 1px solid #9ca3af;
      // z-index: 2;
      // border-radius: 8px;
      // box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.2);

      .modal_title {
        font-size: 28px;
        // font-weight: 400;
        margin-bottom: 24px;
      }

      .modal_button_list {
        // display: flex;
        gap: 40px;
        button {
          padding: 12px 0;
          // border-radius: 8px;
          // border: 2px solid #f29c50;

          font-size: 20px;
          // font-weight: 500;
          // color: #f29c50;
          // flex-grow: 1;
          // background-color: transparent;
        }

        // .b_sure {
        //   color: #9ca3af;
        //   border: 2px solid #9ca3af;
        // }
      }
    }
  }
}
