.login-wrap{ 
  // width: 500px;
  position: relative;
  // margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .input-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    input {
      min-height: 44px;
      /* label/text-16-light */
      font-size: 16px;
      font-weight: 300;
      line-height: 125%;
      padding: 8px 16px;
      box-sizing: border-box;
    }
    &.login{ 
      // width: 500px;
      position: relative;
      // margin-top: 50px;
      & input{
        &:focus + label,
        &:valid + label {
          font-size: $caption;
          line-height: 20px;
          transform: translateY(-175%) translateX(8px);
          color: map-get($BrandColors, Secondary2);
          background-color: #fff;
        }
      }
      & label {
        position: absolute;
        top: 50%;
        left: 0px;
        padding-left: 8px;
        padding-right: 8px;
        transform: translateY(-75%);
        color: #000;
        font-size: 16px;
        pointer-events: none;
        transition: all 0.5s;
      }
    }
  }
  p {
    margin-bottom: 20px;
  }
  
  // input {
  //   margin-bottom: 10px;
  //   padding: 8px;
  //   border: 1px solid#a0a0a0;
  //   border-radius: 8px;
  // }
  
  .google-btn {
    background-color: #adabab;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-bottom: 20px;
  }
  
  .forgot-password {
    margin-bottom: 10px;
  }
  
  .actions {}
  
  .login-btn {
    background-color: #F29C50;
    color: #fff;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
    width: 200px;
    display: block;
    
  
  }
  
  .register-link {
    color: #007bff;
  }
}
