.payment {
  label{
    width: 100px;
    display: inline-block;
  }
    .payTable{
      input{
        width: 200px;
        margin-bottom: 8px;
      }
    }
    .cardSub{
      .expiryDate {
        margin-bottom: 8px;
        input {
          margin-right: 8px;
          width: 32px;
          text-align: center;
        }
      }
    }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .cardInfo {
    display: flex;
    flex-direction: column;
  }
}