$Gray-colors: rgba(255, 255, 255, 1);

main.product_page {
  padding: 0 20px;

  .back_button {
    margin-bottom: 12px;
    box-shadow: 0px -1px 0px 0px #f29c50 inset;
    display: inline-block;
    font-size: 16px;
    padding: 4px 0;
    a {
      text-decoration: none;
      color: #f29c50;
    }
  }

  .product_data {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-bottom: 20px;
    height: 100%;

    .product_data_left {
      .big_pic {
        height: 250px;
        overflow: hidden;
        margin-bottom: 12px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
        img {
          width: 100%;
          vertical-align: top;
          height: 100%;
          object-fit: cover;
        }
      }

      .small_pic_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
        .small_pic {
          border: 1px solid rgba(0, 0, 0, .3);
          overflow: hidden;
          height: 80px;
          cursor: pointer;

          img {
            vertical-align: top;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .product_data_right {
      font-size: 24px;
      font-weight: 400;
      color: #012840;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .information {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        box-shadow: 0px -1px 0px 0px #012840 inset;

        .name {
          margin-right: auto;
        }
      }

      .type_and_like {
        display: flex;
        align-items: center;
        margin-top: 8px;

        .type {
          margin-right: auto;
        }

        .like {
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          display: inline-flex;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          background-color: map-get($BrandColors, Primary);
          border-radius: 8px;
          // border: none;
          box-shadow: 1px 1px rgba(0, 0, 0, .3);
          border: 1px solid rgba(0, 0, 0, .01);
        }
      }

      // .type_button_list {
      //   display: flex;
      //   gap: 16px;
      //   align-items: center;
      //   margin: 20px 0;

      //   .type_button_item {
      //     font-size: 16px;
      //     font-weight: 500;
      //     color: #fff;
      //     display: inline-flex;
      //     padding: 12px 24px;
      //     justify-content: center;
      //     align-items: center;
      //     background-color: map-get($BrandColors, Primary);
      //     border-radius: 8px;
      //     border: none;
      //     transition: 0.2s;
      //   }

      //   .selected {
      //     outline: 2px solid map-get($BrandColors, Secondary1);
      //   }
      // }

      // .quantity_txt {
      //   margin-bottom: 20px;
      // }

      .quantity_button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 145px;
        // height: 40px;
        border-radius: 10px;
        // border: 1px solid #000;
        border: 1px solid rgba(0, 0, 0, .3);
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 24px;

        button {
          padding: 9px 12px;
          border-radius: 8px;
          border: 1px solid map-get($BrandColors, Secondary1);
          background: map-get($BrandColors, Primary);
          box-shadow: 1px 1px rgba(0, 0, 0, .3);
          border: 1px solid rgba(0, 0, 0, .01);

          i {
            font-size: 20px;
            color: #fff;
          }
        }
      }

      .add_and_buy {
        display: flex;
        align-items: center;
        margin-top: auto;
        // margin-top: 132px;
        justify-content: space-between;
        gap: 20px;

        button {
          padding: 12px 20px;
          background-color: map-get($BrandColors, Primary);
          border-radius: 8px;
          // border: none;
          box-shadow: 1px 1px rgba(0, 0, 0, .3);
          border: 1px solid rgba(0, 0, 0, .01);
          color: #fff;
          font-weight: 500;
          font-size: 18px;
          // width: 272px;
          flex-grow: 1;
        }
      }
    }
  }

  .product_txt {
    color: map-get($BrandColors, Secondary1);
    margin-bottom: 20px;

    button {
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      padding: 4px 16px;
      background-color: #ededed;
      // border: 0.5px solid map-get($BrandColors, Secondary1);   
      // border-bottom: #fff;
      // translate: (0, 1px);
      transform: translateY(1px);
      color: map-get($BrandColors, Secondary1);
      border: 1px solid rgba(0, 0, 0, .3);
      border-bottom-color: #ededed;
    }
    .tab1{
      border-right-width: 0;
    }
    .unselected {
      background-color: #d9d9d9;
      border-bottom: 1px;
      // border-bottom: 0.5px solid map-get($BrandColors, Secondary1);
    }

    .txt_block {
      // border: 0.5px solid map-get($BrandColors, Secondary1);
      border: 1px solid rgba(0, 0, 0, .3);
      padding: 8px 16px;
      box-sizing: border-box;

      p {
        font-size: 16px;
        margin-bottom: 0;
        padding: 4px;
      }
    }
  }

  h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: map-get($BrandColors, Secondary1);
    margin-bottom: 20px;
    text-align: center;
  }

  // .recommended_product {
  //   width: 100%;
  //   margin-bottom: 40px;
  //   position: relative;
  //   overflow: hidden;

  //   button {
  //     display: none;
  //   }

  //   .product_list {
  //     display: flex;
  //     flex-direction: column;
  //     text-align: center;
  //     gap: 20px;
  //     width: 90%;
  //     margin: auto;

  //     a {
  //       text-decoration: none;
  //       color: map-get($BrandColors, Secondary1);
  //       width: 100%;
  //       height: 100%;

  //       .product {
  //         width: 100%;
  //         .product_pic {
  //           width: 100%;
  //           height: 200px;
  //           overflow: hidden;

  //           img {
  //             vertical-align: top;
  //             width: 100%;
  //             height: 100%;
  //             object-fit: cover;
  //           }
  //         }
  //         p {
  //           font-size: 20px;
  //           padding-top: 8px;
  //         }
  //       }
  //     }
  //   }
  // }
  .recommended_product {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    .productSwiper{
    width: 90%;
  }
  .recommendedCard {
  width: 100%;
  img{
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  p {
    text-align: center;
  }
}
  .swiper-btn-prev,
  .swiper-btn-next {
        background-color: map-get($BrandColors, Primary);
        color: map-get($BrandColors, Secondary1);
        padding: 8px 8px;
        border-radius: 50%;
        // position: absolute;
        width: 48px;
        height: 48px;
        z-index: 10;
        box-shadow: 1px 1px rgba(0, 0, 0, .3);
        border: 1px solid rgba(0, 0, 0, .01);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        &:active{
          background-color: $activeColor;
          box-shadow: none;
        }
        i {
          font-size: 24px;
          color: #fff;
        }
  }
  .swiper-btn-prev {
    left: -10px;
    order: -1;
  }
  .swiper-btn-next {
    right: -1%;
  }
  }
}

@include pad {
  main.product_page {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;

    .product_data {
      flex-direction: row;
      gap: 32px;
      align-items: start;
      margin-bottom: 40px;

      .product_data_left {
        width: 50%;
        .big_pic {
          // height: 338px;
          height: 436px;;
          margin-bottom: 16px;
        }

        .small_pic_list {
          gap: 16px;
        }
      }

      .product_data_right {
        font-size: 28px;

        width: 50%;
        height: 436px;

        .information {
          flex-direction: row;
        }

        .type_and_like {
          .like {
            padding: 12px 24px;
            &:active{
              background-color: $activeColor;
              box-shadow: none;
            }
          }
        }

        .quantity_button {
          width: 304px;
          // height: 45px;
          margin-top: 20px;
          margin-bottom: 0;

          button {
            padding: 10px 14px;
            box-shadow: 1px 1px rgba(0, 0, 0, .3);
            border: 1px solid rgba(0, 0, 0, .01);
            &:active{
              background-color: $activeColor;
              box-shadow: none;
            }

            i {
              font-size: 24px;
            }
          }
        }

        .add_and_buy {
          gap: 24px;

          button {
            padding: 18px 27px;
            font-size: 18px;
            &:active{
              background-color: $activeColor;
              box-shadow: none;
            }
          }
        }
      }
    }

    .product_txt {
      margin-bottom: 40px;

      button {
        font-size: 24px;
      }

      .txt_block {
        padding: 8px 20px;

        p {
          font-size: 18px;
        }
      }
    }

    h3 {
      font-size: 32px;
    }

    // .recommended_product {
    //   button {
    //     display: block;
    //     background-color: map-get($BrandColors, Primary);
    //     color: map-get($BrandColors, Secondary1);
    //     padding: 8px 13px;
    //     border-radius: 50%;
    //     position: absolute;
    //     top: 32%;
    //     z-index: 1;
    //     // border: none;
    //     box-shadow: 1px 1px rgba(0, 0, 0, .3);
    //     border: 1px solid rgba(0, 0, 0, .01);
    //     &:active{
    //       background-color: $activeColor;
    //       box-shadow: none;
    //     }

    //     i {
    //       font-size: 24px;
    //       color: #fff;
    //     }
    //   }

    //   button.right {
    //     right: 1px;
    //   }

    //   button.left {
    //     left: 1px;
    //   }

    //   // 過渡動畫
    //   @keyframes slideInRight {
    //     from {
    //       transform: translateX(120%);
    //     }
    //     to {
    //       transform: translateX(0);
    //     }
    //   }

    //   @keyframes slideInLeft {
    //     from {
    //       transform: translateX(-120%);
    //     }
    //     to {
    //       transform: translateX(0);
    //     }
    //   }

    //   .product_list {
    //     animation-duration: 1s;
    //   }

    //   .product_list.slide-right {
    //     animation-name: slideInRight;
    //   }

    //   .product_list.slide-left {
    //     animation-name: slideInLeft;
    //   }

    //   .product_list {
    //     flex-direction: row;

    //     a {
    //       .product {
    //         .product_pic {
    //           height: 160px;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}


//成功加入購物車動畫(商品頁面專用)
.product_data{
  .icon-container{
    width: 240px;
    height: 240px;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
  }
}
//禁止點擊時按鈕換色
.clickDisabled{
  background-color: map-get($GrayColors , Gray5) !important;
}  