main:has(.productIndex){
    max-width: 1200px;
    margin: auto;
}
.container.productIndex {
    display: flex;
    flex-direction: column;
}
$topBarheight: 44px;
//商品分類標題、container標題、搜尋框高度
.productIndex {
    a { 
        color: #012840;
        text-decoration: none;
    }
    .category {
        width: 100%;
        h3 {
            display: none;
        }
        .categoryBtn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: #7AACBF;
            font-size: 20px;
            font-weight: 600;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #D1D5DB;
            border-radius: 7px;
            text-align: left;
            i {
                transition: all .08s ease;
            }
        }
        .accordion-enter-active,
        .accordion-leave-active {
            transition: all .3s ease;
        }
        .accordion-enter-from,
        .accordion-leave-to {
            // opacity: 0;
            transform-origin: top;
            transform: scaleY(0);
        }
        .accordion-enter-to,
        .accordion-leave-from {
            // opacity: 1;
            transform-origin: top;
            transform: scaleY(1);
        }
        .categoryItem {
            left: 0;
            top: 30;
            z-index: 50;
            width: 100%;
            padding: 0;
            background-color: #fff;
            border: 1px solid #D1D5DB;
            border-radius: 7px;
            box-sizing: border-box;
            // display: none;
            margin-bottom: 5px;
    
            li {
                position: relative;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                + li::before{
                    position: absolute;
                    content: "";
                    width: 100%;
                    left: 0;
                    top: 0;
                    border-bottom: 1px solid #D1D5DB;
                }
            }
        }
    }
    
    .product {
        width: 100%;
        .topBar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            margin-bottom: 10px;
            h2 {
                color: #012840;
                font-size: 32px;
                line-height: 36px;
                order: 1;
                margin-top: 16px;
            }
            .searchBar {
                width: 100%;
                height: $topBarheight;
                display: flex;
                border-radius: 7px;
                border: 1px solid #D1D5DB;
                box-sizing: border-box;
                background-color: #fff;
    
                input[type="search"] {
                    background-color: unset;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    padding: 12px;
                    border: none;
    
                    &::-webkit-search-cancel-button,
                    &::-webkit-search-decoration {
                        display: none;
                    }
    
                    &:focus {
                        outline: none;
                    }
                }
    
                button {
                    padding: 10px;
                    background-color: unset;
                    border: none;
                    font-size: 0;
                    cursor: pointer;
    
                    i {
                        font-size: 24px;
                    }
                }
            }
        }
        .productList {
            min-height: 1000px;
        }
    }
    .empty{
        font-size: 20px;
        color: #777;
        font-weight: 600;
        width: 100%;
    }
    .card{
        position: relative;
        width: auto;
        padding: 10px;
        border: 1px solid #D1D5DB;
        box-sizing: border-box;
        border-radius: 7px;
        background-color: #fff;
        box-shadow: 10px #00000033;
        $btnSize: 45px;
        //收藏及購物車的長寬
        .cardFavorite,
        .cardCart{
            font-size: 24px;
            position: absolute;
            width: $btnSize;
            height: $btnSize;
            background-color: #fff;
            color: #F29C50;
            border: 1px solid #F29C50;;
            border-radius: 7px;
            left: 15px;
            top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                fill: #F29C50;
            }
        }
        .cardCart{
            top: calc($btnSize + 20px);

        }
        .cradPic{
            border-radius: 7px;
            border: 1px solid #D1D5DB;
            box-sizing: border-box;
            overflow: hidden;
            margin-bottom: 30px;
            aspect-ratio: 1/1;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h3{
            margin-bottom: 30px;
        }
        .price{
            span{
                &::before {
                    content: " $ ";
                }
            }
        }    
    }
}


//斷點: min-width:768px
@include pad {
    .container.productIndex {
        flex-direction: row;
        justify-content: space-between;
    }

    .productIndex {
        .category {
            width: 30%;
            h3 {
                display: block;
                color: #7AACBF;
                margin-bottom: 10px;
                height: $topBarheight;
                font-size: 20px;
                line-height: $topBarheight;
            }
            .categoryBtn {
                display: none;
            }
            .categoryItem {
                display: block;
        
                li {
                    &:hover {
                        background-color: #b1cde233;
                    }
                    + li::before{
                        display: none;
                    }
                }
            }
        }
        
        .product {
            width: 68.333333%;
            .topBar {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: $topBarheight;
                h2 {
                    order: 0;
                    margin-top: 0;
                }
                .searchBar {
                    width: calc(33.333333% - var(--gs-gap));
                    height: 100%;
        
                    button {
                        &:hover i {
                            color: #F29C50;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
        
        .card{
            &:hover{
                transform: scale(1.02);
                transition: .2s;
                box-shadow: 2px 2px 10px #00000033;
            }  
        }
    }
}

//成功加入購物車動畫
.icon-container {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 30px 20px;
    color: $linkColor;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background: rgba(255, 255, 255, .8);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;

    .circle,
    .check {
        fill: none;
        stroke: $linkColor;
        stroke-width: 3;
    }

    .check {
        stroke-dasharray: 80 100;
        stroke-dashoffset: 80;
    }

    &.showing {
        opacity: 1;
        pointer-events: auto;

        .check {
            animation: check .3s cubic-bezier(0.5, 0, 0.6, 1) forwards .2s;
        }
    }
}

@keyframes check {
    from { stroke-dashoffset: 80; }
    to { stroke-dashoffset: 0; }
}

@keyframes circle {
    from { stroke-dashoffset: -300; }
    to { stroke-dashoffset: 0; }
}