main:has(.productIndex){
    max-width: 1200px;
    margin: auto;
}
.container.productIndex {
    display: flex;
    justify-content: space-between;
    // max-width: 1200px;
}
.productIndex {
    a { 
        color: #012840;
        text-decoration: none;
    }
    .category {
        width: 30%;
        h3 {
            color: #7AACBF;
            margin-bottom: 10px;
            height: 44px;
        }
    
        .categoryItem {
            background-color: #fff;
            border: 1px solid #D1D5DB;
            border-radius: 7px;
            box-sizing: border-box;
    
            li {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
    
                &:hover {
                    background-color: #b1cde233;
                }
            }
        }
    }
    
    .product {
        width: 68.333333%;
        .topBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 44px;
            margin-bottom: 10px;
            h2 {
                color: #012840;
                font-size: 32px;
                line-height: 36px;
            }
            .searchBar {
                width: 300px;
                height: 44px;
                display: flex;
                border-radius: 7px;
                border: 1px solid #D1D5DB;
                box-sizing: border-box;
                background-color: #fff;
    
                input[type="search"] {
                    background-color: unset;
                    width: 100%;
                    font-size: 20px;
                    padding: 12px;
                    border: none;
    
                    &::-webkit-search-cancel-button,
                    &::-webkit-search-decoration {
                        display: none;
                    }
    
                    &:focus {
                        outline: none;
                    }
                }
    
                button {
                    padding: 10px;
                    background-color: unset;
                    border: none;
                    font-size: 0;
                    cursor: pointer;
    
                    &:hover i {
                        color: #F29C50;
                        transform: scale(1.1);
                    }
    
                    i {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    
    .card{
        width: 260px;
        padding: 10px;
        border: 1px solid #D1D5DB;
        box-sizing: border-box;
        border-radius: 7px;
        background-color: #fff;
        box-shadow: 10px #00000033;
        &:hover{
            transform: scale(1.02);
            transition: .2s;
            box-shadow: 2px 2px 10px #00000033;
        }
        .cradPic{
            border-radius: 7px;
            border: 1px solid #D1D5DB;
            box-sizing: border-box;
            overflow: hidden;
            margin-bottom: 30px;
            aspect-ratio: 1/1;
            position: relative;
            $btnSize: 45px;
            //收藏及購物車的長寬
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .cardFavorite,
            .cardCart{
                font-size: 24px;
                position: absolute;
                width: $btnSize;
                height: $btnSize;
                background-color: #fff;
                color: #F29C50;
                border: 1px solid #F29C50;;
                border-radius: 7px;
                left: 5px;
                top: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    fill: #F29C50;
                }
            }
            .cardCart{
                top: calc($btnSize + 10px);
    
            }
        }
        h3{
            margin-bottom: 30px;
        }
        .price{
            span{
                &::before {
                    content: " $ ";
                }
            }
        }
    }
}