@mixin size($w,$h:$w){
  width: $w;
  height: $h;
}
@mixin card-shadow(){
  border-radius: $space * 2;
  border: 1px solid map-get($GrayColors, Gray6);
  box-sizing: border-box;
  background: map-get($GrayColors, White);
  /* 淡陰影 */
  box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.20);
}
@mixin flexCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin text-18-md(){
  /* body/text-18-md */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 188.889% */
  letter-spacing: -0.18px;
}
@mixin h4 () {
  font-size: $h4;
  line-height: 24px;
  letter-spacing: -0.16px;
}
@mixin hr ($top, $width: 1px) {
  border-#{$top}: $width solid map-get($BrandColors, Secondary2);
}

.user{
  margin: 24px auto;
  max-width: 1200px;
  width: 100%;
  @include pad {
    column-gap: 20px;
    display: flex;
    padding: 0 16px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .categoryBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .categoryItem {
    list-style-type: none;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $space * 2;
      min-height: $space * 5;
      cursor: pointer;
    }
  }
  >aside{
      display: none;
      height: 100%;
      padding: 0;
      
      @include pc {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: $space * 2;
        .profile-top {
          width: 100%;
          height: 220px;
          @include card-shadow;
          @include flexCenter;
          flex-direction: column;
          @include h4;
          padding: 16px 0;
          .avatar {
            @include size(120px);
            margin: $space * 2;
            img {
              border-radius: (120px / 2);
            }
          }
        }
        .link-list {
          width: 100%;
          @include card-shadow;
          a {
            color: map-get($BrandColors, Secondary1);
            text-decoration: none;
            @include text-18-md;
            padding: 0 16px;
            min-height: 44px;
            display: flex;
            transition: all 0.5s;
            &.active{
              background-color: rgba(#B3CEE2,30%);
              font-weight: 700;
            }
            &:hover,&:active{
              background-color: rgba(#B3CEE2,30%);
            }
            &:hover {
              color: $linkColor;
            }
          }
          li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 20px;
          }
        }
      }
  }
  >main{
    padding:16px;
    height: 100%;
    border-radius: 0;
    border: 1px solid map-get($GrayColors, Gray6);
    box-sizing: border-box;
    background: map-get($GrayColors, White);
    /* 淡陰影 */
    box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.20);
    @include pad {
      border-radius: $space * 2;
    }
    display: flex;
    row-gap: $space * 2;
    .settings {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: $space * 2;
      .top-space {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: $space * 2;
      }
      .left {
        display: flex;
      }
      .right {
        display: flex;
        justify-content: flex-end;
      }
      .user-control-content {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        gap: $space * 2;
        @include pad {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
        & .tab-btn-out{ 
          grid-column: span 3; 
          background-color: red;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          > .tab-btn-package {
            border-bottom: 2px solid map-get($BrandColors , Secondary2 );
            background-color: white;
            &.active {
              color: #fff!important;
              background-color: map-get($BrandColors , Secondary2 );
            }
          }
        }
        // 訂單與收藏卡片樣式
        & .cradPic{
          height: 100%;
          overflow: hidden;
          border-radius: $space;
          aspect-ratio: 2/1;
          @include pad {
            aspect-ratio: 1/1;
          }
        }
        & .card-out{ grid-column: span 3; }
        & .card{
          display: grid;
          flex-direction: column;
          gap: $space * 2;
          width: 100%;
          overflow: hidden;
          @include pad {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: $space * 2;
          }
          & .content {
            flex-grow: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            @include pad {
              grid-column: span 2;
            }
            & .card-top {
              flex-grow: 1;
            }
            & .card-bottom {
              flex-shrink: 1;
            }
            & .des  {
              padding-top: 0px;
              padding-right: 0px;
              padding-bottom: $space * 2;
              display: flex;
              gap: $space;
              height: 100%;
              flex-direction: column;
              height: fit-content;
              @include hr (bottom);
              @include pad {
                flex-direction: row;
                height: 100%;
              }
              .more {
                display: flex;
                flex-direction: column;
                color: map-get($GrayColors, Gray5);
                i {
                  color: map-get($BrandColors, Secondary2);
                }
              }
              .des-text {
                width: 100%;
              }
              .des-right{
                .price{
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  color: map-get($BrandColors, Primary);
                  white-space: nowrap;
                  border-top: 1px solid map-get($BrandColors, Secondary2);
                  padding-top: $space;
                  @include pad {
                    border-top: 0;
                    border-left: 1px solid map-get($BrandColors, Secondary2);
                  }
                }
              }
              h3 {
                width: 100%;
              }
            }
            .btn-space {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              margin-top: $space;
              gap: $space;
              @include pad {
                display: flex;
                justify-content: space-between;
                margin-bottom: $space;
              }
            }
          }
        }
        // 論壇卡片樣式
        & .table-wrapper { 
          grid-column: span 3;
          & .thead , & .tbody { 
            display: flex;
            gap: $space;
            > *:nth-child(2){
              width: 200%;
            }
            > * {
              width: 100%;
              @include h4;
            }
          }
          .thead {
            display: flex;
            background-color: map-get($BrandColors, Secondary2);
            color: $btnTextColor;
            text-align: center;
            @include h4;
            @include pad {
              display: flex;
              justify-content: space-between;
              margin-bottom: $space;
              border-radius: $space;
            }
          }
          .tbody {
            min-height: 44px;
            @include hr(bottom, 2px);
            > span , .btn-space{
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
            }
            .cardPic {
              aspect-ratio: 2/1;
            }
            span {
              font-size: $label;
              line-height: 20px;
            }
            .des {
              text-align: left;
            }
            .des-title {
              @include text-18-md;
              margin-bottom: $space;
            }
            @include pad {
              display: flex;
              justify-content: space-between;
              margin-bottom: $space;
              border-radius: $space;
            }
          }
        }
      }
    }
    hr {
      width: 100%;
      @include hr (top);
      @include hr (bottom);
    }
  }
  /* 定義過渡效果 */
  .accordion-enter-active,
  .accordion-leave-active {
    transition: opacity 0.5s;
  }

  .accordion-enter,
  .accordion-leave-to {
    opacity: 0;
    /* 進入時和離開時的初始狀態 */
  }
}