@mixin size($w,$h:$w){
  width: $w;
  height: $h;
}
@mixin card-shadow(){
  border-radius: 13px;
  border: 1px solid map-get($GrayColors, Gray5);
  background: map-get($GrayColors, white);
  /* 淡陰影 */
  box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.20);
}
@mixin flexCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin text-18-md(){
  /* body/text-18-md */
  font-de: 18px;
  font-style: normal;
  font-weight: 500;
  font-weight: bold;
  line-height: 34px; /* 188.889% */
  letter-spacing: -0.18px;
}
@mixin h4 () {
  font-size: $h4;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.icon-24 {
  @include size(24px);
  @include flexCenter;
  img {
    width: 100%;
  }
}
.user{
  margin: 24px auto;
  max-width: 1200px;
  width: 100%;
  @include pad {
    column-gap: 20px;
    display: flex;
    padding: 0 16px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  input,select {
    margin-bottom: 10px;
    border: 1px solid#a0a0a0;
    border-radius: 8px;
    min-height: 44px;
    /* label/text-16-light */
    font-size: 16px;
    font-weight: 300;
    line-height: 125%;
    padding: 8px 16px;
    box-sizing: border-box;
  }
  .categoryBtn {
    display: flex;
    justify-content: space-between;
  }
  .categoryItem {
    list-style-type: none;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      min-height: 44px;
    }
  }
  .show-mobile{
    @include pad {
      display: none;
    }
  }
  .hidden-mobile{
    display: none;
    @include pad {
      display: block;
    }
  }
  >aside{
      display: none;
      height: 100%;
      padding: 0;
      
      @include pc {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 20px;
        .profile-top {
          width: 100%;
          height: 220px;
          @include card-shadow;
          @include flexCenter;
          flex-direction: column;
          @include h4;
          padding: 16px 0;
          .avatar {
            @include size(120px);
            margin: 16px;
            img {
              border-radius: (120px / 2);
            }
          }
        }
        .link-list {
          width: 100%;
          @include card-shadow;
          a {
            color: map-get($BrandColors, Secondary1);
            text-decoration: none;
            @include text-18-md;
            padding: 0 16px;
            min-height: 44px;
            display: flex;
            transition: all 0.5s;
            &.active{
              background-color: rgba(#B3CEE2,30%);
              font-weight: bold;
            }
            &:hover,&:active{
              background-color: rgba(#B3CEE2,30%);
            }
            &:hover {
              color: $linkColor;
            }
          }
          li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 20px;
          }
        }
      }
  }
  >main{
    padding:16px;
    height: 100%;
    border: 1px solid map-get($GrayColors, Gray5);
    background: map-get($GrayColors, White);
    /* 淡陰影 */
    box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.20);
    @include pad {
      border-radius: 13px;
    }
    display: flex;
    row-gap: 16px;
    .settings {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 16px;
      .top-space {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      & .input-wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include pad {
          flex: 1;
          &.long {
            grid-column: span 2;
          }
        }
        .btn {
          background-color: map-get($BrandColors, Primary);
          position: absolute;
          top: 0%;
          right: 0px;
          height: 44px;

          color: #fff;
          border-radius: 0 8px 8px 0;
          overflow: hidden;
        }
        &.login{ 
          position: relative;
          & input{
            &:focus + label,
            &:valid + label {
              font-size: $caption;
              line-height: 20px;
              transform: translateY(-175%) translateX(8px);
              color: map-get($BrandColors, Secondary2);
              background-color: #fff;
            }
          }
          & label {
            position: absolute;
            top: 50%;
            left: 0px;
            padding-left: 8px;
            padding-right: 8px;
            transform: translateY(-75%);
            color: #000;
            font-size: 16px;
            pointer-events: none;
            transition: all 0.5s;
          }
        }
      }
      .left {
        display: flex;
      }
      .right {
        display: flex;
        justify-content: flex-end;
      }
      .user-control-content {
        @include pad {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;
        }
        & .cradPic{
          height: 100%;
          overflow: hidden;
          border-radius: 9px;
          aspect-ratio: 2/1;
          @include pad {
            aspect-ratio: 1/1;
            border-radius: 0px;
          }
        }
        & .clamp-2 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        & .card-out{ grid-column: span 3; }
        & .card{
          display: grid;
          flex-direction: column;
          gap: 16px;
          width: 100%;
          overflow: hidden;
          @include card-shadow;
          @include pad {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
          }
          & .content {
            flex-grow: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            @include pad {
              grid-column: span 2;
            }
            & .card-top {
              flex-grow: 1;
            }
            & .card-bottom {
              // background-color: gold;
            }
            & .des  {
              padding-top: 0px;
              padding-right: 0px;
              padding-bottom: 16px;
              display: flex;
              gap: 8px;
              height: 100%;
              flex-direction: column;
              height: fit-content;
              @include pad {
                flex-direction: row;
                height: 100%;
              }
              .more {
                display: flex;
                flex-direction: column;
                color: map-get($GrayColors, Gray5);
                i {
                  color: map-get($BrandColors, Secondary2);
                }
              }
              .des-text {
                width: 100%;
              }
              .des-right{
                .price{
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  color: map-get($BrandColors, Primary);
                  white-space: nowrap;
                  border-top: 2px solid map-get($BrandColors, Secondary2);
                  padding-top: 8px;
                  @include pad {
                    border-top: 0;
                    border-left: 1px solid map-get($BrandColors, Secondary2);
                  }
                }
              }
              h3 {
                width: 100%;
              }
            }
            .btn-space {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              margin-top: 8px;
              gap: 8px;
              @include pad {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;
              }
              .btn {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
        & .table-wrapper { 
          grid-column: span 3;
          & .thead , & .tbody { 
            display: flex;
            gap:8px;
            > *:nth-child(2){
              width: 200%;
            }
            > * {
              width: 100%;
              @include h4;
            }
          }
          .thead {
            display: flex;
            background-color: map-get($BrandColors, Secondary2);
            color: $btnTextColor;
            text-align: center;
            @include h4;
            @include pad {
              display: flex;
              justify-content: space-between;
              margin-bottom: 8px;
              border-radius: 10px;
            }
          }
          .tbody {
            min-height: 44px;
            border-bottom: 2px solid  map-get($BrandColors, Secondary2);
            > span , .btn-space{
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
            }
            .cardPic {
              aspect-ratio: 2/1;
            }
            span {
              font-size: $label;
              line-height: 20px;
            }
            .des {
              text-align: left;
            }
            .des-title {
              @include text-18-md;
              margin-bottom: 8px;
            }
            @include pad {
              display: flex;
              justify-content: space-between;
              margin-bottom: 8px;
              border-radius: 10px;
            }
          }
        }
      }
    }
    hr {
      width: 100%;
      border: 1px solid map-get($BrandColors, Secondary2);
    }
  }
  /* 定義過渡效果 */
  .accordion-enter-active,
  .accordion-leave-active {
    transition: opacity 0.5s;
  }

  .accordion-enter,
  .accordion-leave-to {
    opacity: 0;
    /* 進入時和離開時的初始狀態 */
  }
}