@mixin size($w,$h:$w){
  width: $w;
  height: $h;
}
@mixin card-shadow(){
  border-radius: 13px;
  border: 1px solid map-get($GrayColors, Gray5);
  background: map-get($GrayColors, white);
  /* 淡陰影 */
  box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.20);
}
@mixin flexCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin text-18-md(){
  /* body/text-18-md */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 188.889% */
  letter-spacing: -0.18px;
}

main:has(.user){
  display: flex;
  justify-content: center;
  align-items: center;
  & * {
    // outline: 1px solid #000;
    box-sizing: border-box;
  } 
}
.user{
  margin: 24px auto;
  max-width: 1200px;
  width: 100%;
  .icon {
    @include size(24px);
  }
  @include pad {
    column-gap: 20px;
    display: flex;
  }
  >aside{
      display: none;
      height: 100%;
      padding: 0;
      
      @include pc {
        display: flex;
        align-items: start;
        flex-direction: column;
        row-gap: 20px;
        .profile-top {
          width: 100%;
          height: 220px;
          @include card-shadow;
          @include flexCenter;
          flex-direction: column;
          @include text-18-md;
          padding: 16px 0;
          .avatar {
            @include size(120px);
            margin: 16px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: (120px / 2);
            }
          }
        }
        .link-list {
          width: 100%;
          @include card-shadow;
          a {
            color: map-get($BrandColors, Secondary1);
            text-decoration: none;
            padding: 0 16px;
            min-height: 44px;
            display: flex;
            transition: all 0.5s;
            &:hover,&:active{
              background-color: rgba(#B3CEE2,30%);
            }
            &:hover {
              color: map-get($BrandColors, Secondary2);
            }
          }
          li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: start;
            column-gap: 20px;
          }
        }
      }
  }
  >main{
    padding:16px;
    height: 100%;
    border: 1px solid map-get($GrayColors, Gray5);
    background: map-get($GrayColors, White);
    /* 淡陰影 */
    box-shadow: 0px 1px 6px 0px rgba(122, 172, 191, 0.20);
    @include pad {
      border-radius: 13px;
    }
    display: flex;
    row-gap: 16px;
    .settings {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 16px;
      & .input-wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include pad {
          flex: 1;
          &.long {
            grid-column: span 2;
          }
        }
        input {
          min-height: 44px;
          /* label/text-16-light */
          font-size: 16px;
          font-weight: 300;
          line-height: 20px; /* 125% */
          padding: 8px 16px;
        }
        &.login{ 
          // width: 500px;
          position: relative;
          // margin-top: 50px;
          & input{
            &:focus + label,
            &:valid + label {
              font-size: $caption;
              line-height: 20px;
              transform: translateY(-175%) translateX(8px);
              color: map-get($BrandColors, Secondary2);
              background-color: #fff;
            }
          }
          & label {
            position: absolute;
            top: 50%;
            left: 0px;
            padding-left: 8px;
            padding-right: 8px;
            transform: translateY(-75%);
            color: #000;
            font-size: 16px;
            pointer-events: none;
            transition: all 0.5s;
            // background-color: gold;
          }
        }
      }
      .left {
        display: flex;
      }
      .right {
        display: flex;
        justify-content: end;
      }
      .user-control-content {
        @include pad {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;
        }
        
      }
    }
    hr {
      width: 100%;
      border: 1px solid map-get($BrandColors, Secondary);
    }
  }
}